<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- lien entre interface et la representiation de notre "model" shop placer ici car il ne fait que renvoyer de la data
        pas un model classique
     -->
    <preference for="Training\Shop\Api\Config\ShopInterface" type="Training\Shop\Config\Shop" />
</config>
